body{
    background-color: black;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 36pt;
}

div p {
    text-align: center;
}

.container-fluid .img-fluid {
    width:100%;
    height:600px;
}

div h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.btn-block{
    background-color:orange;

}
.btn-block:hover{
    cursor: pointer;
}
/* navbar */
.navbar-light {
    background-color: rgb(241, 197, 0);
    border-color: rgb(0, 0, 0);
}
.navbar-light .navbar-brand {
    color:black;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color:white;
}
 
.navbar-light .navbar-nav > li > a {
    color: #777;
}
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .open > a:hover,
.navbar-light .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}